body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;  /* block, inline, inline-block, table, table-cell */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #333;
    text-align: center;
}

p {
    color: #666;
    text-align: center;
}